<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <title>Document</title>
</head>
{{>header}}

<body>
  <div class="ui container">
    <h1>{{title}}</h1>
    <h4> total amout of tournaments : {{count}} </h4>
    <p>{{sum}}</p>
  </div>
</body>

</html>